@use '@utils/index.scss' as *;

.workspace {
  // width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: spacing(10);
  @include respond-to-mf(tablet-lg) {
    flex-direction: row;
  }

  &__main-panel {
    background: $surface-light;
    width: 100%;
    height: auto;
    padding: spacing(5) spacing(5);

    @include respond-to-mf(tablet-lg) {
    }
  }

  &__sub-panel {
    display: flex;
    background: $primary-muted;

    @include respond-to-mf(tablet-lg) {
      justify-content: flex-end;
      width: 40%;
      height: 100%;
    }
  }
}
