@use '@utils/index.scss' as *;

.workspace {
  // width: 100vw;
  min-height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__main-panel {
    background: $surface-light;
    width: 100%;
    height: auto;
    padding: spacing(5) spacing(5);
    gap: spacing(10);
  }

  &__sub-panel {
    background: $primary-muted;
    width: 100%;
    height: 100rem;
  }
}
