@use '@utils/index.scss' as *;

.btn {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem 7rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2rem;
  font-size: $font-size-base;
  font-family: $pop;

  &--primary {
    background: $primary-base;
  }

  &--login {
    background: $primary-accent;
  }

  &--cancel {
    background: $primary-muted;
  }

  &--preview {
    background: $surface-light;
    color: $text-dark-main;

    @include box-shadow-btn;
  }
}
