@use '@utils/index.scss' as *;

.btn {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem 7rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2rem;
  font-size: $font-size-base;
  font-family: $pop;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  &:hover::before {
    opacity: 1;
  }

  &--primary {
    background: $primary-base;
  }

  &--login {
    background: $primary-accent;
  }

  &--cancel {
    background: $primary-muted;
  }

  &--preview {
    background: $surface-light;
    color: $text-dark-main;

    @include box-shadow-btn;
  }

  &--options {
    font-size: $font-size-xxs;
    padding: 0 0;

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: none;
    }
  }
}
