@use '@utils/index.scss' as *;

// Block: Form
.form {
  display: flex;
  flex-direction: column;
  gap: spacing(6);

  &__row {
    display: flex;
    flex-direction: column;
    gap: spacing(2);

    // Inline modifier
    &--inline {
      flex-direction: row;
      align-items: center;
      gap: spacing(1);
    }
  }

  &__field-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;

    &--row {
      flex-direction: row;
      gap: spacing(4);
    }
  }

  &__file-group {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include respond-to-mf(tablet-lg) {
      width: 100%;
      flex-direction: row;
      gap: spacing(10);
    }
  }

  &__file-meta-group {
    @include respond-to-mf(tablet-lg) {
      width: 100%;
      flex-direction: row;
    }
  }

  &__input {
    // border: 0.1px solid $surface-dark;
    width: 100%;
    height: 4rem;
    padding: 1.6rem 1rem;
    // outline: 0.1rem solid $primary-muted;
    font-size: $font-size-base;
    font-family: $pop;
    border-radius: 0.4rem;
    color: $text-dark-main;
    transition: color 0.3s ease;
    background: $surface-fields !important;

    &:focus {
      outline: 0.1rem solid $primary-accent;
    }
  }

  &__label {
    color: $text-dark-main;
    font-weight: 500;

    &::after {
      content: '*';
      color: $primary-accent;
      font-weight: 500;
    }
  }

  &__checkbox {
  }

  &__date-picker {
    --dp-font-size: 1.5rem;
    --dp-preview-font-size: 1rem;
    --dp-time-font-size: 1.5rem;
    --dp-action-buttons-padding: 0.4rem 0.5rem;
    --dp-menu-appear-transition-timing: cubic-bezier(0.4, 0, 1, 1);
    --dp-transition-timing: ease-out;
  }

  &__btn-group {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: spacing(3);
  }

  &__input-alert {
    min-height: 0.6rem;
    pointer-events: none; // fields cannot be clicked after errorMessage appear fix

    &--abs {
      position: absolute !important;
      padding-top: spacing(5);
    }

    &--rel {
      position: relative !important;
    }

    p {
      color: $dashboard-red;
      font-size: $font-size-xs;
      font-weight: bold;

      pointer-events: auto; // fields cannot be clicked after errorMessage appear fix
    }
  }
}
