@use '@utils/index.scss' as *;

.widget {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 0;
  // gap: spacing(3);
  background: $surface-light;
  display: none;

  @include respond-to-mf(tablet-lg) {
    padding: spacing(3) spacing(2);
    display: block;
  }

  @include respond-to-mf(desktop-sm) {
    padding: spacing(3) spacing(4);
  }

  &__title {
    text-align: start;
    color: $text-dark-main;
    font-weight: 500;
  }

  &__feed {
    display: flex;
  }

  &__feed-left {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: $text-dark-main;
    text-align: start;
    line-height: normal;
  }

  &__feed-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    color: $text-dark-main;
  }
}
