@use 'sass:map';
@use 'breakpoints' as bp;

// Mobile first
@mixin respond-to-mf($breakpoint) {
  @media (min-width: map.get(bp.$breakpoints, $breakpoint)) {
    @content;
  }
}

// Desktop first
@mixin respond-to-df($breakpoint) {
  @media (max-width: map.get(bp.$breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin box-shadow-btn {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@mixin box-shadow-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@mixin box-shadow-bg {
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@mixin stack-right {
  box-shadow:
    rgba(240, 46, 170, 0.4) 5px 5px,
    rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
