@use 'base' as base;
@use 'utils' as utils;
@use 'components' as components;
@use 'layouts' as layouts;

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  // padding: 1.6rem; // 16px instead of 20px
  // max-width: 1280px;
}
